
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
  - apiGroups:
      - zookeeper.pravega.io.zookeeper.pravega.io
    resources:
      - zookeeperbackups
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - zookeeper.pravega.io.zookeeper.pravega.io
    resources:
      - zookeeperbackups/finalizers
    verbs:
      - update
  - apiGroups:
      - zookeeper.pravega.io.zookeeper.pravega.io
    resources:
      - zookeeperbackups/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - zookeeper.pravega.io.zookeeper.pravega.io
    resources:
      - zookeeperclusters
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - zookeeper.pravega.io.zookeeper.pravega.io
    resources:
      - zookeeperclusters/status
    verbs:
      - get
      - patch
      - update
